<!DOCTYPE html>
<%- include("partials/header.ejs") %>

  <body>

    <h1>TO DO FLOW</h1>
    <h2>
      <%= date %>
    </h2>
    <ul>
      <% for( let i=0; i < newListItem.length; i++ ) { %>
        <li>
          <%= newListItem[i] %>
        </li>
        <% } %>
          <form action="/" method="POST">
            <input type="text" name="newItem">
            <button type="submit" value="Add">Add</button>
          </form>
    </ul>

  </body>
  <%- include("partials/footer.ejs") %>

    </html>