<!DOCTYPE html>
<%- include("partials/header.ejs") %>

  <body>

    <h1>TO DO FLOW</h1>
    <i class="fa-regular fa-calendar-days"></i>
<i class="fa-regular fa-folder-open"></i>
<i class="fa-regular fa-clipboard"></i>
<i class="fa-regular fa-note-sticky"></i>
    <h2>
      <%= date %>
      <!-- <i class="fa-regular fa-briefcase" style="color: #fad000;"></i> -->
      <!-- <i class="fa-regular fa-calendar-days" style="color: #ffd500;"></i> -->
      <!-- <i class="fa-regular fa-folder-open"></i> -->
    </h2>
    <ul>
      <% for( let i=0; i < newListItem.length; i++ ) { %>
        <li>
          <%= newListItem[i] %>
        </li>
        <% } %>
          <form action="/" method="POST">
            <input type="text" name="newItem">
            <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
          </form>
    </ul>

  </body>
  <%- include("partials/footer.ejs") %>

    </html>