<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1a482b71fb.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/main.css">
  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <title>To DoFlow</title>
</head>
<header>
  <div class="topnav">
  <a class="active" href="#today">Today</a>
  <a href="#work">Work</a>
  <!-- <i class="fa-regular fa-calendar-days"></i> -->
  <!-- <i class="fa-regular fa-note-sticky"></i> -->
</div>
</header>

<body>
  <main>