* {
  background-color: black;
}

div {
  text-align: center;
}

img {
  border: 5px solid white;
  height: 400px;
  display: block;
  margin: 200px auto 10px;
}

h1 {
  color: white;
  /* font-family: "Quicksand", sans-serif; */
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-family: "Caveat", cursive;
}
